* {
    margin: 0;
    gap: 0;
    padding: 0 0 0;
    text-decoration: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 110, 255);
    
}

body>.center {
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.clock {
    width: 50.8vh;
    height: 50.8vh;
    background-color: white;
    display: flex;
    position: absolute;
    color: black;
    border: 2px solid black;
    border-radius: 100%;
    z-index: 2;
}

.clock .number {
    --rotation: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.8rem;
    font-weight: 500;
    padding: 5px;
}

.clock .number.number-1 {
    --rotation: 30deg
}

.clock .number.number-2 {
    --rotation: 60deg
}

.clock .number.number-3 {
    --rotation: 90deg
}

.clock .number.number-4 {
    --rotation: 120deg
}

.clock .number.number-5 {
    --rotation: 150deg
}

.clock .number.number-6 {
    --rotation: 180deg
}

.clock .number.number-7 {
    --rotation: 210deg
}

.clock .number.number-8 {
    --rotation: 240deg
}

.clock .number.number-9 {
    --rotation: 270deg
}

.clock .number.number-10 {
    --rotation: 300deg
}

.clock .number.number-11 {
    --rotation: 330deg
}

.clock .number.number-12 {
    --rotation: 360deg
}
    .clock::after{
        content: '';
        position: absolute;
        width: 1.5vh;
        height: 1.5vh;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        z-index: 11;
        background-color: black;
        transform: translate(-50%, -50%) ;
    }

.clock .hand {
    --rotation: ;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    z-index: 10;
}
.clock .hand.seconds{
    width: 3px;
    height: 40%;
    background-color: red;
  
}
.clock .hand.minutes{
    width: 7px;
    height: 35%;
    background-color: black;
    
}
.clock .hand.hours{
    width: 10px;
    height: 25%;
    background-color: black;
    
}